@define-color selected-text #FEFFFF;
@define-color text #788ADD;
@define-color base #080F11;
@define-color border #48d597;
@define-color foreground #FEFFFF;
@define-color background #080F11;

#box {
  border-radius: 6px;
  /* border: 1px solid lighter(@border); */ 
  border-width: 1px;
}

#search {
  border-radius: 6px;
  /* background: transparent(@background); */
  border-width: 1px;
}
